## Setup

In [ ]:
%pip install 'vanna[qdrant,openai,mysql]'

In [3]:
from vanna.openai import OpenAI_Chat
from vanna.qdrant import Qdrant_VectorStore
from qdrant_client import QdrantClient
from openai import OpenAI

In [8]:
class MyVanna(Qdrant_VectorStore, OpenAI_Chat):
    def __init__(self, client=None, config=None):
        # 分别初始化两个父类
        Qdrant_VectorStore.__init__(self, config=config)
        OpenAI_Chat.__init__(self,client=client,config=config)

# 配置信息
api_key = "sk-pH3LeinCFI54OlJI238c014eE8D64a0f882cA285375d72A3"
base_url = "https://api.juheai.top/v1"
model_name = "gpt-4.1-nano"

# 初始化Qdrant客户端
config = {
	'client': QdrantClient(host="112.124.5.73",port=2280),
  'model': model_name
}

# 创建Vanna实例
vn = MyVanna(
    client=OpenAI(api_key=api_key,base_url=base_url),
    config=config
)

In [9]:
vn.connect_to_mysql(host='rm-bp1x9482wcuc92dfe6o.mysql.rds.aliyuncs.com', dbname='cocoteam-cloud', user='cocoteam_read', password='rQqSJlZRi9', port=3306)

## Training
You only need to train once. Do not train again unless you want to add more training data.

In [ ]:

# The information schema query may need some tweaking depending on your database. This is a good starting point.
df_information_schema = vn.run_sql("SELECT * FROM INFORMATION_SCHEMA.COLUMNS")

# This will break up the information schema into bite-sized chunks that can be referenced by the LLM
plan = vn.get_training_plan_generic(df_information_schema)
plan

# If you like the plan, then uncomment this and run it to train
# vn.train(plan=plan)

In [ ]:

# The following are methods for adding training data. Make sure you modify the examples to match your database.

# DDL statements are powerful because they specify table names, colume names, types, and potentially relationships
# vn.train(ddl="""
#     CREATE TABLE `departments` (
#     `department_id` int NOT NULL AUTO_INCREMENT COMMENT '部门ID，主键',
#     `department_name` varchar(50) COLLATE utf8mb4_general_ci NOT NULL COMMENT '部门名称',
#     `location` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '部门办公地点',
#     `description` text COLLATE utf8mb4_general_ci COMMENT '部门描述',
#     `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
#     PRIMARY KEY (`department_id`)
#   ) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='公司部门信息表';

# """)

# Sometimes you may want to add documentation about your business terminology or definitions.
# vn.train(documentation="Our business defines OTIF score as the percentage of orders that are delivered on time and in full")

# You can also add SQL queries to your training data. This is useful if you have some queries already laying around. You can just copy and paste those from your editor to begin generating new SQL.
vn.train(question="每个部门有多少员工？",sql="SELECT d.department_name, COUNT(u.user_id) AS employee_count FROM departments d LEFT JOIN users u ON d.department_id = u.department_id GROUP BY d.department_id;")
vn.train(question="最畅销的商品是什么？",sql="SELECT p.product_name, SUM(o.quantity) AS total_sold FROM products p JOIN orders o ON p.product_id = o.product_id GROUP BY p.product_id ORDER BY total_sold DESC LIMIT 1;")
vn.train(question="按类别统计所有商品的库存总量。",sql="SELECT category, SUM(stock_quantity) AS total_stock FROM products GROUP BY category;")
vn.train(question="显示目前上架的所有商品及其价格。",sql="SELECT product_name, price FROM products WHERE is_active = 1;")
vn.train(question="过去一个月内销售额最高的商品是哪一个？",sql="SELECT p.product_name, SUM(p.price * o.quantity) AS total_sales FROM products p JOIN orders o ON p.product_id = o.product_id WHERE o.order_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 1 MONTH) AND CURDATE() GROUP BY p.product_id ORDER BY total_sales DESC LIMIT 1;")
vn.train(question="哪些用户在过去的一年内没有进行任何购买？",sql="SELECT u.username FROM users u LEFT JOIN orders o ON u.user_id = o.user_id AND o.order_date >= DATE_SUB(CURDATE(), INTERVAL 1 YEAR) WHERE o.order_id IS NULL;")

'be7dea21-0343-5f08-b1dd-c81189b62d1d-sql'

In [7]:
# At any time you can inspect what training data the package is able to reference
training_data = vn.get_training_data()
training_data

,id,question,content,training_data_type
0,08662319-184c-510d-9477-114ec71fb61d-sql,最近一周新增的线索数量,SELECT COUNT(*) AS recent_week_leads FROM coco...,sql
1,0890ef88-61ab-5366-a3c4-911a1bbca976-sql,按线索来源统计数量,SELECT CASE salesleads_source WHEN 0 THEN '客户推...,sql
2,0d413456-68e6-5cf9-98ee-8b19d538dc07-sql,哪些线索的下次跟进时间在今天之内？,"SELECT s.f_id, s.salesleads_name, u.f_real_nam...",sql
3,18d0bab7-352a-5717-818f-ea13bea6f1c8-sql,哪些线索没有转换为商机？,"SELECT s.f_id, s.salesleads_name, u.f_real_nam...",sql
4,52fb7522-5965-59d8-877e-32271b499182-sql,跟进中的线索有哪些，按负责人统计,"SELECT u.f_real_name AS owner_name, COUNT(*) A...",sql
5,93cb4379-84fd-509b-bc6a-4f8c9003383c-sql,按线索来源统计数量,"SELECT salesleads_source, COUNT(*) AS count FR...",sql
6,9ce027fb-8417-5aef-b819-fefb736c5124-sql,跟进记录最多的前5条线索,"SELECT r.f_salesleads_id, s.salesleads_name, C...",sql
7,ab853aad-8df6-54c9-b7fc-088c90f1c1fa-sql,每个负责人的线索数量是多少？,"SELECT u.f_real_name AS owner_name, COUNT(*) A...",sql
8,b10e03ce-4904-50e2-9b4c-b1e6e6c9f802-sql,哪些线索已经超过了下一个跟进时间但还未跟进？,"SELECT s.f_id, s.salesleads_name, u.f_real_nam...",sql
9,b40eacb1-6d76-5fe9-9737-30fbe4085df9-sql,哪些线索已经被取消？并列出取消原因,"SELECT s.f_id, s.salesleads_name, u.f_real_nam...",sql
10,b94e343a-fda9-5cd3-816a-5fdafc725fb7-sql,按线索状态统计数量,SELECT CASE salesleads_status WHEN 0 THEN '新增'...,sql
11,d90876d8-30f6-5b3a-a14d-a5a597a2bd30-sql,本月新增销售线索数量,SELECT COUNT(*) AS monthly_new_leads FROM coco...,sql
0,5c1a167f-ed0b-5589-a550-83b9be50cf29-ddl,None,CREATE TABLE `coco_sales_salesleads_rack` (\n ...,ddl
1,9389b9e6-8f75-58b1-a511-b0721d2f9cd1-ddl,None,\n CREATE TABLE `coco_sales_salesleads` (\n...,ddl
2,fb3f7a8e-dc86-5cfe-b711-c105439c4891-ddl,None,CREATE TABLE `base_user` (\n `f_id` varchar(5...,ddl

In [ ]:
# You can remove training data if there's obsolete/incorrect information.
vn.remove_training_data(id='1-ddl')

## Asking the AI
Whenever you ask a new question, it will find the 10 most relevant pieces of training data and use it as part of the LLM prompt to generate the SQL.

In [10]:
vn.ask(question="按类别统计所有商品的库存总量。")

SQL Prompt: [{'role': 'system', 'content': 'You are a SQL expert. Please help to generate a SQL query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions. \n===Tables \nCREATE TABLE `base_user` (\n  `f_id` varchar(50) NOT NULL COMMENT \'自然主键\',\n  `f_account` varchar(50) DEFAULT NULL COMMENT \'账户\',\n  `f_real_name` varchar(50) DEFAULT NULL COMMENT \'姓名\',\n  `f_quick_query` varchar(100) DEFAULT NULL COMMENT \'快速查询\',\n  `f_nick_name` varchar(50) DEFAULT NULL COMMENT \'呢称\',\n  `f_head_icon` longtext COMMENT \'头像\',\n  `f_gender` int DEFAULT NULL COMMENT \'性别\',\n  `f_birthday` datetime DEFAULT NULL COMMENT \'生日\',\n  `f_mobile_phone` varchar(20) DEFAULT NULL COMMENT \'手机\',\n  `f_tele_phone` varchar(20) DEFAULT NULL COMMENT \'电话\',\n  `f_landline` varchar(50) DEFAULT NULL COMMENT \'F_Landline\',\n  `f_email` varchar(50) DEFAULT NULL COMMENT \'邮箱\',\n  `f_nation` varchar(50) DEFAULT NULL COMMENT \'民族\',\n  `f_native_place` varchar(50) DEFAULT NULL COMMENT \'籍贯\',\n  `f_entry_date` datetime DEFAULT NULL COMMENT \'入职日期\',\n  `f_certificates_type` varchar(50) DEFAULT NULL COMMENT \'证件类型\',\n  `f_certificates_number` varchar(50) DEFAULT NULL COMMENT \'证件号码\',\n  `f_education` varchar(50) DEFAULT NULL COMMENT \'文化程度\',\n  `f_urgent_contacts` varchar(50) DEFAULT NULL COMMENT \'F_UrgentContacts\',\n  `f_urgent_tele_phone` varchar(50) DEFAULT NULL COMMENT \'紧急电话\',\n  `f_postal_address` varchar(500) DEFAULT NULL COMMENT \'通讯地址\',\n  `f_signature` varchar(500) DEFAULT NULL COMMENT \'自我介绍\',\n  `f_password` varchar(50) DEFAULT NULL COMMENT \'密码\',\n  `f_secretkey` varchar(50) DEFAULT NULL COMMENT \'秘钥\',\n  `f_first_log_time` datetime DEFAULT NULL COMMENT \'首次登录时间\',\n  `f_first_log_ip` varchar(50) DEFAULT NULL COMMENT \'首次登录IP\',\n  `f_prev_log_time` datetime DEFAULT NULL COMMENT \'前次登录时间\',\n  `f_prev_log_ip` varchar(50) DEFAULT NULL COMMENT \'前次登录IP\',\n  `f_last_log_time` datetime DEFAULT NULL COMMENT \'最后登录时间\',\n  `f_last_log_ip` varchar(50) DEFAULT NULL COMMENT \'最后登录IP\',\n  `f_log_success_count` int DEFAULT NULL COMMENT \'登录成功次数\',\n  `f_log_error_count` int DEFAULT NULL COMMENT \'登录错误次数\',\n  `f_change_password_date` datetime DEFAULT NULL COMMENT \'最后修改密码时间\',\n  `f_language` varchar(50) DEFAULT NULL COMMENT \'系统语言\',\n  `f_theme` varchar(50) DEFAULT NULL COMMENT \'系统样式\',\n  `f_common_menu` longtext COMMENT \'常用菜单\',\n  `f_is_administrator` int DEFAULT NULL COMMENT \'是否管理员\',\n  `f_property_json` longtext COMMENT \'扩展属性\',\n  `f_manager_id` varchar(50) DEFAULT NULL COMMENT \'主管主键\',\n  `f_organize_id` varchar(50) DEFAULT NULL COMMENT \'组织主键\',\n  `f_position_id` varchar(50) DEFAULT NULL COMMENT \'岗位主键\',\n  `f_role_id` longtext COMMENT \'角色主键\',\n  `f_portal_id` longtext COMMENT \'门户主键\',\n  `f_lock_mark` int DEFAULT NULL COMMENT \'是否锁定\',\n  `f_unlock_time` datetime DEFAULT NULL COMMENT \'解锁时间\',\n  `f_group_id` varchar(2000) DEFAULT NULL COMMENT \'分组ID\',\n  `f_system_id` varchar(50) DEFAULT NULL COMMENT \'系统id\',\n  `f_handover_mark` int DEFAULT NULL COMMENT \'交接状态\',\n  `f_app_system_id` varchar(50) DEFAULT NULL COMMENT \'App系统id\',\n  `f_ding_job_number` varchar(50) DEFAULT NULL COMMENT \'钉钉工号\',\n  `f_description` varchar(500) DEFAULT NULL COMMENT \'描述或说明\',\n  `f_enabled_mark` int DEFAULT NULL COMMENT \'有效标志(0-禁用，1-启用)\',\n  `f_sort_code` bigint NOT NULL DEFAULT \'0\' COMMENT \'排序\',\n  `f_creator_time` datetime DEFAULT NULL COMMENT \'创建时间\',\n  `f_creator_user_id` varchar(50) DEFAULT NULL COMMENT \'创建用户\',\n  `f_last_modify_time` datetime DEFAULT NULL COMMENT \'修改时间\',\n  `f_last_modify_user_id` varchar(50) DEFAULT NULL COMMENT \'修改用户\',\n  `f_delete_time` datetime DEFAULT NULL COMMENT \'删除时间\',\n  `f_delete_user_id` varchar(50) DEFAULT NULL COMMENT \'删除用户\',\n  `f_delete_mark` int DEFAULT \'0\' COMMENT \'删除标志\',\n  `f_tenant_id` varchar(50) DEFAULT NULL COMMENT \'租户id\',\n  `f_handover_userid` varchar(100) DEFAULT NULL COMMENT \'离职工作被交接的UserId\',\n  `f_computer_source` varchar(255) DEFAULT NULL COMMENT \'电脑来源\',\n  `f_level` varchar(100) DEFAULT NULL COMMENT \'员工职位等级\',\n  `F_POSTAL_PROVINCE` varchar(50) DEFAULT NULL COMMENT \'工作地省\',\n  `F_POSTAL_CITY` varchar(50) DEFAULT NULL COMMENT \'工作地市\',\n  `f_user_type` varchar(10) DEFAULT NULL COMMENT \'用户类型   "0"--公司员工  "1"---外部用户\',\n  `f_is_attendance` varchar(10) DEFAULT NULL COMMENT \'是否考勤  "0"--是   "1"--否\',\n  `f_is_daily` varchar(10) DEFAULT NULL COMMENT \'是否日报  "0"--是   "1"--否\',\n  `f_employee_status` varchar(10) CHARACTER SET utf8mb4 DEFAULT \'0\' COMMENT \'员工状态  ‘0’--在职  ‘1’--离职\',\n  `f_main_organize_id` varchar(50) DEFAULT NULL COMMENT \'主部门\',\n  `f_leave_office_time` date DEFAULT NULL COMMENT \'离职日期\',\n  `f_employee_type` varchar(50) DEFAULT NULL COMMENT \'员工类型\',\n  `f_employees_type` varchar(50) DEFAULT NULL COMMENT \'员工类型\',\n  `f_attendance_type` varchar(50) DEFAULT NULL COMMENT \'考勤类型\',\n  `f_company_encode` varchar(255) DEFAULT NULL COMMENT \'公司主体字典code\',\n  PRIMARY KEY (`f_id`) USING BTREE\n) ENGINE=InnoDB  COMMENT=\'用户信息\';\n\n\n    CREATE TABLE `coco_sales_salesleads` (\n    `f_id` varchar(50)  NOT NULL COMMENT \'主键id，线索信息主表\',\n    `f_code` varchar(50)  DEFAULT NULL COMMENT \'线索编码\',\n    `salesleads_status` int DEFAULT \'0\' COMMENT \'线索状态，0:新增，1:跟进中，2：已转换，3：已取消\',\n    `salesleads_name` varchar(30)  NOT NULL COMMENT \'线索名称\',\n    `salesleads_source` int NOT NULL COMMENT \'线索来源：0客户推荐、1朋友推荐、2网络推广、3电话Callin、4陌拜、5销售渠道、6其他\',\n    `salesleads_source_note` varchar(50)  DEFAULT NULL COMMENT \'来源说明\',\n    `salesleads_contacts` varchar(30)  DEFAULT NULL COMMENT \'联系人\',\n    `salesleads_company` varchar(50)  DEFAULT NULL COMMENT \'所属公司\',\n    `salesleads_department` varchar(30)  DEFAULT NULL COMMENT \'部门\',\n    `salesleads_position` varchar(30)  DEFAULT NULL COMMENT \'职位\',\n    `salesleads_mobile` varchar(30)  DEFAULT NULL COMMENT \'手机\',\n    `salesleads_tel` varchar(30)  DEFAULT NULL COMMENT \'电话\',\n    `salesleads_wechat` varchar(30)  DEFAULT NULL COMMENT \'微信\',\n    `salesleads_email` varchar(30)  DEFAULT NULL COMMENT \'邮箱\',\n    `salesleads_owner` varchar(255)  NOT NULL COMMENT \'负责人\',\n    `salesleads_note` varchar(200)  DEFAULT NULL COMMENT \'线索说明\',\n    `salesleads_cancel_reason` varchar(255)  DEFAULT NULL COMMENT \'取消原因\',\n    `degree_of_importance` varchar(50)  DEFAULT NULL COMMENT \'来自数据字典 【销售重要程度】\',\n    `salesleads_partner` varchar(255)  DEFAULT NULL COMMENT \'协作人\',\n    `f_delete_time` datetime DEFAULT NULL COMMENT \'删除时间\',\n    `f_delete_user_id` varchar(50)  DEFAULT NULL COMMENT \'删除用户\',\n    `f_last_modify_user_id` varchar(50)  DEFAULT NULL COMMENT \'修改用户\',\n    `f_last_modify_time` datetime DEFAULT NULL COMMENT \'修改时间\',\n    `f_delete_mark` int DEFAULT \'0\',\n    `f_creator_user_name` varchar(50)  DEFAULT NULL COMMENT \'创建用户ID\',\n    `f_creator_user_id` varchar(50)  DEFAULT NULL COMMENT \'创建用户\',\n    `f_creator_time` datetime DEFAULT NULL COMMENT \'创建时间\',\n    `salesleads_partner_ids` varchar(255)  DEFAULT NULL COMMENT \'协作人id\',\n    `salesleads_address` varchar(255)  DEFAULT NULL COMMENT \' 线索地址\',\n    `salesleads_cancel_type` varchar(10)  DEFAULT NULL COMMENT \'取消类型\',\n    `salesleads_type` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT \'线索类型\',\n    `f_tenant_id` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT \'租户id\',\n    `file` varchar(4000) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT \'文件\',\n    `priority` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT \'优先级\',\n    `f_next_rack_date` datetime(6) DEFAULT NULL COMMENT \'下一个跟进时间\',\n    PRIMARY KEY (`f_id`) USING BTREE\n  ) ENGINE=InnoDB COMMENT=\'销售管理线索表\';\n\n\nCREATE TABLE `coco_sales_salesleads_rack` (\n  `f_id` varchar(64) NOT NULL COMMENT \'主键\',\n  `f_salesleads_id` varchar(64) DEFAULT NULL COMMENT \'任务ID\',\n  `f_user_id` varchar(255) DEFAULT NULL COMMENT \'目标人\',\n  `f_user_name` varchar(255) DEFAULT NULL,\n  `f_content` varchar(5000) DEFAULT NULL COMMENT \'内容\',\n  `f_creator_time` datetime(3) DEFAULT NULL COMMENT \'创建时间\',\n  `f_creator_user_id` varchar(50) DEFAULT NULL COMMENT \'创建用户\',\n  `f_last_modify_time` datetime DEFAULT NULL COMMENT \'修改时间\',\n  `f_last_modify_user_id` varchar(50) DEFAULT NULL COMMENT \'修改用户\',\n  `f_delete_time` datetime DEFAULT NULL COMMENT \'删除时间\',\n  `f_delete_user_id` varchar(50)  DEFAULT NULL COMMENT \'删除用户\',\n  `f_delete_mark` int DEFAULT NULL COMMENT \'删除标志\',\n  `f_tenant_id` varchar(50)  DEFAULT NULL COMMENT \'租户id\',\n  `f_creator_user_name` varchar(255)  DEFAULT NULL COMMENT \'创建用户名称\',\n  `f_remark` varchar(255)  DEFAULT NULL COMMENT \'备注\',\n  `f_rack_type` varchar(50)  DEFAULT NULL COMMENT \'跟进类型\',\n  `f_sales_type` varchar(255)  DEFAULT \'0\' COMMENT \'0.线索跟进，1.商机跟进\',\n  `f_file` varchar(1000)  DEFAULT NULL COMMENT \'附件\',\n  PRIMARY KEY (`f_id`)\n) ENGINE=InnoDB  COMMENT=\'销售管理线索跟踪表\';\n\n===Response Guidelines \n1. If the provided context is sufficient, please generate a valid SQL query without any explanations for the question. \n2. If the provided context is almost sufficient but requires knowledge of a specific string in a particular column, please generate an intermediate SQL query to find the distinct strings in that column. Prepend the query with a comment saying intermediate_sql \n3. If the provided context is insufficient, please explain why it can\'t be generated. \n4. Please use the most relevant table(s). \n5. If the question has been asked and answered before, please repeat the answer exactly as it was given before. \n6. Ensure that the output SQL is SQL-compliant and executable, and free of syntax errors. \n'}, {'role': 'user', 'content': '哪些线索没有转换为商机？'}, {'role': 'assistant', 'content': 'SELECT s.f_id, s.salesleads_name, u.f_real_name AS owner_name, s.salesleads_status FROM coco_sales_salesleads s LEFT JOIN base_user u ON s.salesleads_owner = u.f_id WHERE s.salesleads_status IN (0, 1) AND s.f_delete_mark = 0;'}, {'role': 'user', 'content': '按线索状态统计数量'}, {'role': 'assistant', 'content': "SELECT CASE salesleads_status WHEN 0 THEN '新增' WHEN 1 THEN '跟进中' WHEN 2 THEN '已转换' WHEN 3 THEN '已取消' END AS status_name, COUNT(*) AS count FROM coco_sales_salesleads where f_delete_mark = 0 GROUP BY salesleads_status;"}, {'role': 'user', 'content': '按线索来源统计数量'}, {'role': 'assistant', 'content': 'SELECT salesleads_source, COUNT(*) AS count FROM coco_sales_salesleads WHERE f_delete_mark = 0 GROUP BY salesleads_source;'}, {'role': 'user', 'content': '跟进中的线索有哪些，按负责人统计'}, {'role': 'assistant', 'content': 'SELECT u.f_real_name AS owner_name, COUNT(*) AS lead_count FROM coco_sales_salesleads s LEFT JOIN base_user u ON s.salesleads_owner = u.f_id WHERE s.salesleads_status = 1 AND s.f_delete_mark = 0 GROUP BY u.f_real_name;'}, {'role': 'user', 'content': '跟进记录最多的前5条线索'}, {'role': 'assistant', 'content': 'SELECT r.f_salesleads_id, s.salesleads_name, COUNT(*) AS follow_up_count FROM coco_sales_salesleads_rack r LEFT JOIN coco_sales_salesleads s ON r.f_salesleads_id = s.f_id WHERE s.f_delete_mark = 0 GROUP BY r.f_salesleads_id, s.salesleads_name ORDER BY COUNT(*) DESC LIMIT 5;'}, {'role': 'user', 'content': '哪些线索已经被取消？并列出取消原因'}, {'role': 'assistant', 'content': 'SELECT s.f_id, s.salesleads_name, u.f_real_name AS owner_name, s.salesleads_cancel_reason, s.salesleads_cancel_type FROM coco_sales_salesleads s LEFT JOIN base_user u ON s.salesleads_owner = u.f_id WHERE s.salesleads_status = 3 AND s.f_delete_mark = 0;'}, {'role': 'user', 'content': '按线索来源统计数量'}, {'role': 'assistant', 'content': "SELECT CASE salesleads_source WHEN 0 THEN '客户推荐' WHEN 1 THEN '朋友推荐' WHEN 2 THEN '网络推广' WHEN 3 THEN '电话Callin' WHEN 4 THEN '陌拜' WHEN 5 THEN '销售渠道' WHEN 6 THEN '其他' WHEN 7 THEN '二次销售' END AS source_name, COUNT(*) AS count FROM coco_sales_salesleads WHERE f_delete_mark = 0 GROUP BY salesleads_source;"}, {'role': 'user', 'content': '哪些线索已经超过了下一个跟进时间但还未跟进？'}, {'role': 'assistant', 'content': 'SELECT s.f_id, s.salesleads_name, u.f_real_name AS owner_name, s.f_next_rack_date FROM coco_sales_salesleads s LEFT JOIN base_user u ON s.salesleads_owner = u.f_id WHERE s.f_next_rack_date < NOW() AND s.salesleads_status = 1 AND s.f_delete_mark = 0;'}, {'role': 'user', 'content': '哪些线索的下次跟进时间在今天之内？'}, {'role': 'assistant', 'content': 'SELECT s.f_id, s.salesleads_name, u.f_real_name AS owner_name, s.f_next_rack_date FROM coco_sales_salesleads s LEFT JOIN base_user u ON s.salesleads_owner = u.f_id WHERE s.f_next_rack_date BETWEEN CURDATE() AND CURDATE() + INTERVAL 1 DAY AND s.f_delete_mark = 0;'}, {'role': 'user', 'content': '每个负责人的线索数量是多少？'}, {'role': 'assistant', 'content': 'SELECT u.f_real_name AS owner_name, COUNT(*) AS lead_count FROM coco_sales_salesleads s LEFT JOIN base_user u ON s.salesleads_owner = u.f_id WHERE s.f_delete_mark = 0 GROUP BY u.f_real_name;'}, {'role': 'user', 'content': '按类别统计所有商品的库存总量。'}]
Using model gpt-4.1-nano for 2913.25 tokens (approx)
LLM Response: 抱歉，提供的表结构中没有商品和库存相关的表和字段，无法完成该请求。
抱歉，提供的表结构中没有商品和库存相关的表和字段，无法完成该请求。
Couldn't run sql:  (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '抱歉，提供的表结构中没有商品和库存相关的表和字段，无æ³' at line 1")

In [ ]:
from vanna.flask import VannaFlaskApp
app = VannaFlaskApp(vn,allow_llm_to_see_data=True,logo="https://cocoteam.com/resource/img/logo@2x.png",title="芯港AI报表测试",subtitle="text2sql在线测试")
app.run()

Google Colab doesn't support running websocket servers. Disabling debug mode.
Warning: This function may stop working due to changes in browser security.
Try `serve_kernel_port_as_iframe` instead.

Your app is running at:
https://8084-m-s-3ar3m3lw26l2d-c.us-west1-0.prod.colab.dev
 * Serving Flask app 'vanna.flask'
 * Debug mode: off