## Setup

In [1]:
%pip install 'vanna[qdrant,openai,mysql]'

Collecting vanna[mysql,openai,qdrant]
  Downloading vanna-0.7.9-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from vanna[mysql,openai,qdrant]) (2.32.3)
Requirement already satisfied: tabulate in /usr/local/lib/python3.11/dist-packages (from vanna[mysql,openai,qdrant]) (0.9.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.11/dist-packages (from vanna[mysql,openai,qdrant]) (5.24.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from vanna[mysql,openai,qdrant]) (2.2.2)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from vanna[mysql,openai,qdrant]) (0.5.3)
Collecting kaleido (from vanna[mysql,openai,qdrant])
  Downloading kaleido-0.2.1-py2.py3-none-manylinux1_x86_64.whl.metadata (15 kB)
Requirement already satisfied: flask in /usr/local/lib/python3.11/dist-packages (from vanna[mysql,openai,qdrant]) (3.1.0)
Collecting flask-sock (from vanna[mysql,openai,qdrant])
  Downloading flask_sock-0.7.0-py3-none-any.whl.metadata (1.6 kB)
Collecting flasgger (from vanna[mysql,openai,qdrant])
  Downloading flasgger-0.9.7.1.tar.gz (4.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.0/4.0 MB 29.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (from vanna[mysql,openai,qdrant]) (2.0.40)
Collecting PyMySQL (from vanna[mysql,openai,qdrant])
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: openai in /usr/local/lib/python3.11/dist-packages (from vanna[mysql,openai,qdrant]) (1.72.0)
Collecting qdrant-client (from vanna[mysql,openai,qdrant])
  Downloading qdrant_client-1.13.3-py3-none-any.whl.metadata (10 kB)
Collecting fastembed (from vanna[mysql,openai,qdrant])
  Downloading fastembed-0.6.1-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: huggingface-hub<1.0,>=0.20 in /usr/local/lib/python3.11/dist-packages (from fastembed->vanna[mysql,openai,qdrant]) (0.30.2)
Collecting loguru<0.8.0,>=0.7.2 (from fastembed->vanna[mysql,openai,qdrant])
  Downloading loguru-0.7.3-py3-none-any.whl.metadata (22 kB)
Collecting mmh3<6.0.0,>=4.1.0 (from fastembed->vanna[mysql,openai,qdrant])
  Downloading mmh3-5.1.0-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (16 kB)
Requirement already satisfied: numpy>=1.21 in /usr/local/lib/python3.11/dist-packages (from fastembed->vanna[mysql,openai,qdrant]) (2.0.2)
Collecting onnxruntime!=1.20.0,>=1.17.0 (from fastembed->vanna[mysql,openai,qdrant])
  Downloading onnxruntime-1.21.0-cp311-cp311-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (4.5 kB)
Requirement already satisfied: pillow<12.0.0,>=10.3.0 in /usr/local/lib/python3.11/dist-packages (from fastembed->vanna[mysql,openai,qdrant]) (11.1.0)
Collecting py-rust-stemmers<0.2.0,>=0.1.0 (from fastembed->vanna[mysql,openai,qdrant])
  Downloading py_rust_stemmers-0.1.5-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (3.4 kB)
Requirement already satisfied: tokenizers<1.0,>=0.15 in /usr/local/lib/python3.11/dist-packages (from fastembed->vanna[mysql,openai,qdrant]) (0.21.1)
Requirement already satisfied: tqdm<5.0,>=4.66 in /usr/local/lib/python3.11/dist-packages (from fastembed->vanna[mysql,openai,qdrant]) (4.67.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->vanna[mysql,openai,qdrant]) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->vanna[mysql,openai,qdrant]) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests->vanna[mysql,openai,qdrant]) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests->vanna[mysql,openai,qdrant]) (2025.1.31)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.11/dist-packages (from flasgger->vanna[mysql,openai,qdrant]) (6.0.2)
Requirement already satisfied: jsonschema>=3.0.1 in /usr/local/lib/python3.11/dist-packages (from flasgger->vanna[mysql,openai,qdrant]) (4.23.0)
Requirement already satisfied: mistune in /usr/local/lib/python3.11/dist-packages (from flasgger->vanna[mysql,openai,qdrant]) (3.1.3)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.11/dist-packages (from flasgger->vanna[mysql,openai,qdrant]) (1.17.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from flasgger->vanna[mysql,openai,qdrant]) (24.2)
Requirement already satisfied: Werkzeug>=3.1 in /usr/local/lib/python3.11/dist-packages (from flask->vanna[mysql,openai,qdrant]) (3.1.3)
Requirement already satisfied: Jinja2>=3.1.2 in /usr/local/lib/python3.11/dist-packages (from flask->vanna[mysql,openai,qdrant]) (3.1.6)
Requirement already satisfied: itsdangerous>=2.2 in /usr/local/lib/python3.11/dist-packages (from flask->vanna[mysql,openai,qdrant]) (2.2.0)
Requirement already satisfied: click>=8.1.3 in /usr/local/lib/python3.11/dist-packages (from flask->vanna[mysql,openai,qdrant]) (8.1.8)
Requirement already satisfied: blinker>=1.9 in /usr/local/lib/python3.11/dist-packages (from flask->vanna[mysql,openai,qdrant]) (1.9.0)
Collecting simple-websocket>=0.5.1 (from flask-sock->vanna[mysql,openai,qdrant])
  Downloading simple_websocket-1.1.0-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: anyio<5,>=3.5.0 in /usr/local/lib/python3.11/dist-packages (from openai->vanna[mysql,openai,qdrant]) (4.9.0)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/local/lib/python3.11/dist-packages (from openai->vanna[mysql,openai,qdrant]) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /usr/local/lib/python3.11/dist-packages (from openai->vanna[mysql,openai,qdrant]) (0.28.1)
Requirement already satisfied: jiter<1,>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from openai->vanna[mysql,openai,qdrant]) (0.9.0)
Requirement already satisfied: pydantic<3,>=1.9.0 in /usr/local/lib/python3.11/dist-packages (from openai->vanna[mysql,openai,qdrant]) (2.11.3)
Requirement already satisfied: sniffio in /usr/local/lib/python3.11/dist-packages (from openai->vanna[mysql,openai,qdrant]) (1.3.1)
Requirement already satisfied: typing-extensions<5,>=4.11 in /usr/local/lib/python3.11/dist-packages (from openai->vanna[mysql,openai,qdrant]) (4.13.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->vanna[mysql,openai,qdrant]) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->vanna[mysql,openai,qdrant]) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->vanna[mysql,openai,qdrant]) (2025.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.11/dist-packages (from plotly->vanna[mysql,openai,qdrant]) (9.1.2)
Requirement already satisfied: grpcio>=1.41.0 in /usr/local/lib/python3.11/dist-packages (from qdrant-client->vanna[mysql,openai,qdrant]) (1.71.0)
Collecting grpcio-tools>=1.41.0 (from qdrant-client->vanna[mysql,openai,qdrant])
  Downloading grpcio_tools-1.71.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.3 kB)
Collecting portalocker<3.0.0,>=2.7.0 (from qdrant-client->vanna[mysql,openai,qdrant])
  Downloading portalocker-2.10.1-py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->vanna[mysql,openai,qdrant]) (3.1.1)
Requirement already satisfied: protobuf<6.0dev,>=5.26.1 in /usr/local/lib/python3.11/dist-packages (from grpcio-tools>=1.41.0->qdrant-client->vanna[mysql,openai,qdrant]) (5.29.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.11/dist-packages (from grpcio-tools>=1.41.0->qdrant-client->vanna[mysql,openai,qdrant]) (75.2.0)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.11/dist-packages (from httpx<1,>=0.23.0->openai->vanna[mysql,openai,qdrant]) (1.0.7)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.11/dist-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai->vanna[mysql,openai,qdrant]) (0.14.0)
Requirement already satisfied: h2<5,>=3 in /usr/local/lib/python3.11/dist-packages (from httpx[http2]>=0.20.0->qdrant-client->vanna[mysql,openai,qdrant]) (4.2.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.11/dist-packages (from huggingface-hub<1.0,>=0.20->fastembed->vanna[mysql,openai,qdrant]) (3.18.0)
Requirement already satisfied: fsspec>=2023.5.0 in /usr/local/lib/python3.11/dist-packages (from huggingface-hub<1.0,>=0.20->fastembed->vanna[mysql,openai,qdrant]) (2025.3.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from Jinja2>=3.1.2->flask->vanna[mysql,openai,qdrant]) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0.1->flasgger->vanna[mysql,openai,qdrant]) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0.1->flasgger->vanna[mysql,openai,qdrant]) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0.1->flasgger->vanna[mysql,openai,qdrant]) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0.1->flasgger->vanna[mysql,openai,qdrant]) (0.24.0)
Collecting coloredlogs (from onnxruntime!=1.20.0,>=1.17.0->fastembed->vanna[mysql,openai,qdrant])
  Downloading coloredlogs-15.0.1-py2.py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: flatbuffers in /usr/local/lib/python3.11/dist-packages (from onnxruntime!=1.20.0,>=1.17.0->fastembed->vanna[mysql,openai,qdrant]) (25.2.10)
Requirement already satisfied: sympy in /usr/local/lib/python3.11/dist-packages (from onnxruntime!=1.20.0,>=1.17.0->fastembed->vanna[mysql,openai,qdrant]) (1.13.1)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pydantic<3,>=1.9.0->openai->vanna[mysql,openai,qdrant]) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.1 in /usr/local/lib/python3.11/dist-packages (from pydantic<3,>=1.9.0->openai->vanna[mysql,openai,qdrant]) (2.33.1)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from pydantic<3,>=1.9.0->openai->vanna[mysql,openai,qdrant]) (0.4.0)
Collecting wsproto (from simple-websocket>=0.5.1->flask-sock->vanna[mysql,openai,qdrant])
  Downloading wsproto-1.2.0-py3-none-any.whl.metadata (5.6 kB)
Requirement already satisfied: hyperframe<7,>=6.1 in /usr/local/lib/python3.11/dist-packages (from h2<5,>=3->httpx[http2]>=0.20.0->qdrant-client->vanna[mysql,openai,qdrant]) (6.1.0)
Requirement already satisfied: hpack<5,>=4.1 in /usr/local/lib/python3.11/dist-packages (from h2<5,>=3->httpx[http2]>=0.20.0->qdrant-client->vanna[mysql,openai,qdrant]) (4.1.0)
Collecting humanfriendly>=9.1 (from coloredlogs->onnxruntime!=1.20.0,>=1.17.0->fastembed->vanna[mysql,openai,qdrant])
  Downloading humanfriendly-10.0-py2.py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /usr/local/lib/python3.11/dist-packages (from sympy->onnxruntime!=1.20.0,>=1.17.0->fastembed->vanna[mysql,openai,qdrant]) (1.3.0)
Downloading fastembed-0.6.1-py3-none-any.whl (86 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 86.8/86.8 kB 4.3 MB/s eta 0:00:00
Downloading flask_sock-0.7.0-py3-none-any.whl (4.0 kB)
Downloading kaleido-0.2.1-py2.py3-none-manylinux1_x86_64.whl (79.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.9/79.9 MB 10.0 MB/s eta 0:00:00
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 1.7 MB/s eta 0:00:00
Downloading qdrant_client-1.13.3-py3-none-any.whl (306 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 306.7/306.7 kB 14.0 MB/s eta 0:00:00
Downloading vanna-0.7.9-py3-none-any.whl (213 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 213.2/213.2 kB 11.7 MB/s eta 0:00:00
Downloading grpcio_tools-1.71.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.5/2.5 MB 50.6 MB/s eta 0:00:00
Downloading loguru-0.7.3-py3-none-any.whl (61 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.6/61.6 kB 2.9 MB/s eta 0:00:00
Downloading mmh3-5.1.0-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (101 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 101.6/101.6 kB 6.1 MB/s eta 0:00:00
Downloading onnxruntime-1.21.0-cp311-cp311-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.0/16.0 MB 66.8 MB/s eta 0:00:00
Downloading portalocker-2.10.1-py3-none-any.whl (18 kB)
Downloading py_rust_stemmers-0.1.5-cp311-cp311-manylinux_2_28_x86_64.whl (324 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 324.8/324.8 kB 17.4 MB/s eta 0:00:00
Downloading simple_websocket-1.1.0-py3-none-any.whl (13 kB)
Downloading coloredlogs-15.0.1-py2.py3-none-any.whl (46 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 46.0/46.0 kB 2.7 MB/s eta 0:00:00
Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Downloading humanfriendly-10.0-py2.py3-none-any.whl (86 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 86.8/86.8 kB 5.3 MB/s eta 0:00:00
Building wheels for collected packages: flasgger
  Building wheel for flasgger (setup.py) ... done
  Created wheel for flasgger: filename=flasgger-0.9.7.1-py2.py3-none-any.whl size=3865185 sha256=70ee08f90d1bf43dd5f352eb22034c6dbbcefa5e196eb3857ae2085cdfeefb2c
  Stored in directory: /root/.cache/pip/wheels/da/2d/f6/c125d4b8701ac49fdb2abbfb978036c46d5ad64d2ffaa2ac34
Successfully built flasgger
Installing collected packages: py-rust-stemmers, kaleido, wsproto, PyMySQL, portalocker, mmh3, loguru, humanfriendly, grpcio-tools, simple-websocket, coloredlogs, onnxruntime, flask-sock, qdrant-client, flasgger, fastembed, vanna
Successfully installed PyMySQL-1.1.1 coloredlogs-15.0.1 fastembed-0.6.1 flasgger-0.9.7.1 flask-sock-0.7.0 grpcio-tools-1.71.0 humanfriendly-10.0 kaleido-0.2.1 loguru-0.7.3 mmh3-5.1.0 onnxruntime-1.21.0 portalocker-2.10.1 py-rust-stemmers-0.1.5 qdrant-client-1.13.3 simple-websocket-1.1.0 vanna-0.7.9 wsproto-1.2.0

In [17]:
from vanna.openai import OpenAI_Chat
from vanna.qdrant import Qdrant_VectorStore
from qdrant_client import QdrantClient
from openai import OpenAI

In [18]:
apiKey = "sk-pH3LeinCFI54OlJI238c014eE8D64a0f882cA285375d72A3"
baseUrl = "https://api.juheai.top"
model = "gpt-4o-mini"
# 初始化客户端
client = OpenAI(
    api_key=apiKey,
    base_url=baseUrl,
    default_headers={"Authorization": f"Bearer {apiKey}", "Content-Type": "application/json"}
)

class MyVanna(Qdrant_VectorStore, OpenAI_Chat):
    def __init__(self,client=None,config=None):
        Qdrant_VectorStore.__init__(self, config=config)
        OpenAI_Chat.__init__(self,client=client,config=config)

vn = MyVanna(client=client,config={
	'client': QdrantClient(host="112.124.5.73",port=2280),
	'model': model,
})


<h3 class="mb-5 text-lg font-medium text-gray-900 dark:text-white">Which database do you want to query?</h3>
<ul class="grid w-full gap-6 md:grid-cols-2">
    
  <li>
    <a href="../postgres-openai-standard-qdrant/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Postgres</div>
        <small class="w-full"></small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../mssql-openai-standard-qdrant/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Microsoft SQL Server</div>
        <small class="w-full"></small>
      </div>
    </a>
  </li>
    
  <li>
    <span class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border bg-white p-5 border-blue-600 text-blue-600 dark:bg-gray-800 dark:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold"><span class="hidden">[Selected]</span> MySQL</div>
        <small class="w-full"></small>
      </div>
    </span>
  </li>
  
  <li>
    <a href="../duckdb-openai-standard-qdrant/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">DuckDB</div>
        <small class="w-full"></small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../snowflake-openai-standard-qdrant/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Snowflake</div>
        <small class="w-full"></small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../bigquery-openai-standard-qdrant/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">BigQuery</div>
        <small class="w-full"></small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../sqlite-openai-standard-qdrant/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">SQLite</div>
        <small class="w-full"></small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../oracle-openai-standard-qdrant/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Oracle</div>
        <small class="w-full"></small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../other-database-openai-standard-qdrant/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Other Database</div>
        <small class="w-full">Use Vanna to generate queries for any SQL database</small>
      </div>
    </a>
  </li>
    
</ul>

In [9]:
vn.connect_to_mysql(host='dbconn.sealoshzh.site', dbname='order_test', user='root', password='8g529kbq', port=49511)

## Training
You only need to train once. Do not train again unless you want to add more training data.

In [ ]:

# The information schema query may need some tweaking depending on your database. This is a good starting point.
df_information_schema = vn.run_sql("SELECT * FROM INFORMATION_SCHEMA.COLUMNS")

# This will break up the information schema into bite-sized chunks that can be referenced by the LLM
plan = vn.get_training_plan_generic(df_information_schema)
plan

# If you like the plan, then uncomment this and run it to train
# vn.train(plan=plan)

In [14]:

# The following are methods for adding training data. Make sure you modify the examples to match your database.

# DDL statements are powerful because they specify table names, colume names, types, and potentially relationships
# vn.train(ddl="""
#     CREATE TABLE `departments` (
#     `department_id` int NOT NULL AUTO_INCREMENT COMMENT '部门ID，主键',
#     `department_name` varchar(50) COLLATE utf8mb4_general_ci NOT NULL COMMENT '部门名称',
#     `location` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '部门办公地点',
#     `description` text COLLATE utf8mb4_general_ci COMMENT '部门描述',
#     `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
#     PRIMARY KEY (`department_id`)
#   ) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='公司部门信息表';

# """)

# Sometimes you may want to add documentation about your business terminology or definitions.
# vn.train(documentation="Our business defines OTIF score as the percentage of orders that are delivered on time and in full")

# You can also add SQL queries to your training data. This is useful if you have some queries already laying around. You can just copy and paste those from your editor to begin generating new SQL.
vn.train(question="每个部门有多少员工？",sql="SELECT d.department_name, COUNT(u.user_id) AS employee_count FROM departments d LEFT JOIN users u ON d.department_id = u.department_id GROUP BY d.department_id;")
vn.train(question="最畅销的商品是什么？",sql="SELECT p.product_name, SUM(o.quantity) AS total_sold FROM products p JOIN orders o ON p.product_id = o.product_id GROUP BY p.product_id ORDER BY total_sold DESC LIMIT 1;")
vn.train(question="按类别统计所有商品的库存总量。",sql="SELECT category, SUM(stock_quantity) AS total_stock FROM products GROUP BY category;")
vn.train(question="显示目前上架的所有商品及其价格。",sql="SELECT product_name, price FROM products WHERE is_active = 1;")
vn.train(question="过去一个月内销售额最高的商品是哪一个？",sql="SELECT p.product_name, SUM(p.price * o.quantity) AS total_sales FROM products p JOIN orders o ON p.product_id = o.product_id WHERE o.order_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 1 MONTH) AND CURDATE() GROUP BY p.product_id ORDER BY total_sales DESC LIMIT 1;")
vn.train(question="哪些用户在过去的一年内没有进行任何购买？",sql="SELECT u.username FROM users u LEFT JOIN orders o ON u.user_id = o.user_id AND o.order_date >= DATE_SUB(CURDATE(), INTERVAL 1 YEAR) WHERE o.order_id IS NULL;")

'be7dea21-0343-5f08-b1dd-c81189b62d1d-sql'

In [15]:
# At any time you can inspect what training data the package is able to reference
training_data = vn.get_training_data()
training_data

,id,question,content,training_data_type
0,061229db-95ec-5783-9e21-968e6e3a0fe5-sql,显示目前上架的所有商品及其价格。,"SELECT product_name, price FROM products WHERE...",sql
1,421d7f13-69c0-530f-882e-f2b4a87e3b3c-sql,按类别统计所有商品的库存总量。,"SELECT category, SUM(stock_quantity) AS total_...",sql
2,518f9914-e59b-54c4-bb75-16936a0bb273-sql,每个部门有多少员工？,"SELECT d.department_name, COUNT(u.user_id) AS ...",sql
3,a7186d83-bd3d-5dc7-9d34-9ec48011002b-sql,最畅销的商品是什么？,"SELECT p.product_name, SUM(o.quantity) AS tota...",sql
4,be7dea21-0343-5f08-b1dd-c81189b62d1d-sql,哪些用户在过去的一年内没有进行任何购买？,SELECT u.username FROM users u LEFT JOIN order...,sql
5,ee05860a-67ff-570b-8fa3-61db9f135f64-sql,过去一个月内销售额最高的商品是哪一个？,"SELECT p.product_name, SUM(p.price * o.quantit...",sql
0,ae4507ed-c64c-5c58-ad6b-fb73046d934b-ddl,None,\n CREATE TABLE `orders` (\n `order_id` ...,ddl
1,b2791109-5431-5c52-9174-410201eb1c10-ddl,None,\n CREATE TABLE `departments` (\n `depar...,ddl
2,b7266249-9c89-5f0a-b584-8ac909c60872-ddl,None,\n CREATE TABLE `products` (\n `product_...,ddl
3,e88faa25-4077-5a91-9f87-9c438ab0b723-ddl,None,\n CREATE TABLE `users` (\n `user_id` in...,ddl

In [ ]:
# You can remove training data if there's obsolete/incorrect information.
vn.remove_training_data(id='1-ddl')

## Asking the AI
Whenever you ask a new question, it will find the 10 most relevant pieces of training data and use it as part of the LLM prompt to generate the SQL.

In [19]:
vn.ask(question="每个部门有多少员工？")

SQL Prompt: [{'role': 'system', 'content': "You are a SQL expert. Please help to generate a SQL query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions. \n===Tables \n\n    CREATE TABLE `departments` (\n    `department_id` int NOT NULL AUTO_INCREMENT COMMENT '部门ID，主键',\n    `department_name` varchar(50) COLLATE utf8mb4_general_ci NOT NULL COMMENT '部门名称',\n    `location` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '部门办公地点',\n    `description` text COLLATE utf8mb4_general_ci COMMENT '部门描述',\n    `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',\n    PRIMARY KEY (`department_id`)\n  ) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='公司部门信息表';\n\n\n\n\n\n    CREATE TABLE `users` (\n    `user_id` int NOT NULL AUTO_INCREMENT COMMENT '用户ID，主键',\n    `username` varchar(50) COLLATE utf8mb4_general_ci NOT NULL COMMENT '用户名',\n    `email` varchar(100) COLLATE utf8mb4_general_ci NOT NULL COMMENT '用户邮箱，唯一',\n    `department_id` int DEFAULT NULL COMMENT '所属部门ID，外键',\n    `hire_date` date DEFAULT NULL COMMENT '入职日期',\n    `salary` decimal(10,2) DEFAULT NULL COMMENT '基本工资',\n    `phone` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '联系电话',\n    `status` tinyint DEFAULT '1' COMMENT '状态：1-在职，0-离职',\n    `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',\n    PRIMARY KEY (`user_id`),\n    UNIQUE KEY `email` (`email`),\n    KEY `idx_department` (`department_id`) COMMENT '部门索引',\n    CONSTRAINT `users_ibfk_1` FOREIGN KEY (`department_id`) REFERENCES `departments` (`department_id`)\n  ) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='系统用户信息表';\n\n\n\n\n    CREATE TABLE `orders` (\n    `order_id` int NOT NULL AUTO_INCREMENT COMMENT '订单ID，主键',\n    `user_id` int DEFAULT NULL COMMENT '用户ID，外键',\n    `product_id` int DEFAULT NULL COMMENT '商品ID，外键',\n    `quantity` int NOT NULL COMMENT '购买数量',\n    `order_date` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '下单时间',\n    `status` tinyint DEFAULT '1' COMMENT '订单状态：1-待付款，2-已付款，3-已发货，4-已完成，5-已取消',\n    `payment_method` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '支付方式',\n    `shipping_address` text COLLATE utf8mb4_general_ci COMMENT '收货地址',\n    `notes` text COLLATE utf8mb4_general_ci COMMENT '订单备注',\n    PRIMARY KEY (`order_id`),\n    KEY `idx_order_date` (`order_date`) COMMENT '下单时间索引',\n    KEY `idx_product` (`product_id`) COMMENT '商品索引',\n    KEY `idx_user` (`user_id`) COMMENT '用户索引',\n    CONSTRAINT `orders_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`),\n    CONSTRAINT `orders_ibfk_2` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`)\n  ) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='用户订单表';\n\n\n\n\n\n    CREATE TABLE `products` (\n    `product_id` int NOT NULL AUTO_INCREMENT COMMENT '商品ID，主键',\n    `product_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL COMMENT '商品名称',\n    `price` decimal(10,2) NOT NULL COMMENT '商品单价',\n    `category` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '商品类别',\n    `stock_quantity` int DEFAULT '0' COMMENT '库存数量',\n    `description` text COLLATE utf8mb4_general_ci COMMENT '商品描述',\n    `is_active` tinyint DEFAULT '1' COMMENT '是否上架：1-是，0-否',\n    `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',\n    `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '最后更新时间',\n    `f_tenant_id` varchar(50) COLLATE utf8mb4_general_ci NOT NULL COMMENT '租户id',\n    `f_flow_id` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '流程id',\n    `f_flow_task_id` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '流程任务主键',\n    `zushi` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '组织',\n    PRIMARY KEY (`product_id`),\n    KEY `idx_category` (`category`) COMMENT '类别索引'\n  ) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='商品信息表';\n\n\n\n===Response Guidelines \n1. If the provided context is sufficient, please generate a valid SQL query without any explanations for the question. \n2. If the provided context is almost sufficient but requires knowledge of a specific string in a particular column, please generate an intermediate SQL query to find the distinct strings in that column. Prepend the query with a comment saying intermediate_sql \n3. If the provided context is insufficient, please explain why it can't be generated. \n4. Please use the most relevant table(s). \n5. If the question has been asked and answered before, please repeat the answer exactly as it was given before. \n6. Ensure that the output SQL is SQL-compliant and executable, and free of syntax errors. \n"}, {'role': 'user', 'content': '按类别统计所有商品的库存总量。'}, {'role': 'assistant', 'content': 'SELECT category, SUM(stock_quantity) AS total_stock FROM products GROUP BY category;'}, {'role': 'user', 'content': '每个部门有多少员工？'}, {'role': 'assistant', 'content': 'SELECT d.department_name, COUNT(u.user_id) AS employee_count FROM departments d LEFT JOIN users u ON d.department_id = u.department_id GROUP BY d.department_id;'}, {'role': 'user', 'content': '哪些用户在过去的一年内没有进行任何购买？'}, {'role': 'assistant', 'content': 'SELECT u.username FROM users u LEFT JOIN orders o ON u.user_id = o.user_id AND o.order_date >= DATE_SUB(CURDATE(), INTERVAL 1 YEAR) WHERE o.order_id IS NULL;'}, {'role': 'user', 'content': '过去一个月内销售额最高的商品是哪一个？'}, {'role': 'assistant', 'content': 'SELECT p.product_name, SUM(p.price * o.quantity) AS total_sales FROM products p JOIN orders o ON p.product_id = o.product_id WHERE o.order_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 1 MONTH) AND CURDATE() GROUP BY p.product_id ORDER BY total_sales DESC LIMIT 1;'}, {'role': 'user', 'content': '显示目前上架的所有商品及其价格。'}, {'role': 'assistant', 'content': 'SELECT product_name, price FROM products WHERE is_active = 1;'}, {'role': 'user', 'content': '最畅销的商品是什么？'}, {'role': 'assistant', 'content': 'SELECT p.product_name, SUM(o.quantity) AS total_sold FROM products p JOIN orders o ON p.product_id = o.product_id GROUP BY p.product_id ORDER BY total_sold DESC LIMIT 1;'}, {'role': 'user', 'content': '每个部门有多少员工？'}]
Using model gpt-4o-mini for 1433.0 tokens (approx)
'str' object has no attribute 'choices'

(None, None, None)

In [ ]:
from vanna.flask import VannaFlaskApp
app = VannaFlaskApp(vn)
app.run()

## Next Steps
Using Vanna via Jupyter notebooks is great for getting started but check out additional customizable interfaces like the
- [Streamlit app](https://github.com/vanna-ai/vanna-streamlit)
- [Flask app](https://github.com/vanna-ai/vanna-flask)
- [Slackbot](https://github.com/vanna-ai/vanna-slack)